Package: ubuntu-ce-parental-controls
Version: 0.0.3
Section: web
Priority: optional
Architecture: all
Maintainer: Jereme Hancock <support@ubuntuce.com>
Installed-Size: 51.7
Depends: malcontent, malcontent-gui
Description: Parental Controls
